<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhHWHeiGqpMB97uylpNWGKpWLPfjBSaDo</string>
	<key>GCM_SENDER_ID</key>
	<string>257263343309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-my-mini-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-my-mini-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257263343309:ios:bf647a914bbdd5819e7b84</string>
</dict>
</plist>